[user]
	name = Tehmasp Chaudhri
	email = tehmasp@gmail.com
[branch]
	autosetuprebase = always
[merge]
	ff = no
[pull]
	rebase = true
[push]
	default = simple
[color]
	ui = true
[credential]
	helper = cache --timeout 600
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
